div {
    background-color: white;
    display: flex;
}

.container {
    display: flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}
#hovered {
    background-color: black;
}